extends layout

block content
  h1 Community Members
  p Meet the people swapping books and records near you.

  .grid-container
    each user in users
      .item-card
        h3 #{user.username}
        p 
          strong Location: 
          | #{user.city}
        a.btn(href=`/users/${user.id}`) View Profile